body {
    background-color: #FFEBDC;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Sriracha', cursive;
}
/* ===== Header ===== */
header {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    position: fixed;
    top:0;
    width: 100%;
}
h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    
}
h2{
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
/*  ======= main ======= */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.board {
    width: 810px; /* needed for border line */
    background-color: #539955;
    border: 12px solid #422e1a;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

p {
    display: none;
}

.board > div {
    /* Centers the text to the center */
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;
    width: 100px;
    border: 1px solid black;
    
}
.board > div > div {
    border-radius: 100%;
    background: #539955;
    padding: 0;
    height: 80%;
    width: 80%;
} 
/* === Footer === */

footer {
    display: flex;
    justify-content: center;
}


/* Media for Tablets */
@media only screen and (max-width: 600px){
    header {
        display:flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction:row;
        position: relative;
        top:0;
        width: 100%;
    }
    .board > div {
        height: 40px;
        width: 40px;
        border: 1px solid black;
    }

    .board {
        width: 338px; /* needed for border line */
        border: 6px solid #422e1a;
    }
}

